@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --bgColorHeader: rgba(33, 33, 33, 0.98);
  --bgColor: #181818;
}
